/*== basic color ==*/
$body_color: #f6f6f6;
$dashboard_color: #2f163b;
$heading_color: #2d1c3c;
$primary_color: #d24b47;
$secondary_color: #888888;
$dropdown_bg_color: #914D5F;
$activeBgColor: #613650;

/*== font color ==*/
$activeFontColor: #2f163b;
$body_text_color: #2f163b;
$rating-color: #eda70d;

/*== gradiant color ==*/
$primary_gradient_color: linear-gradient(45deg, #a92c49, #d24b47);
$bg_gradient1: linear-gradient(45deg, #944e5f, #4b2645);
$bg_gradient2: linear-gradient(45deg, #D24B47, #D24B47);

/*== btn color ==*/
$default_btn_color: #b9b6b6;
$btn_gradient_color: linear-gradient(45deg, #FE3B30, #F5887B);
