/*== font face ==*/
$fontBasic:'Roboto', sans-serif;

/*== font size ==*/
$extra_small_font_size:10px;
$small_font_size:12px;
$medium_font_size:14px;
$body_font_size:16px;
$header_font_size:22px;

/*== font weight ==*/
$wightLight:300;
$wightRegular:400;
$wightMedium:500;
$wightSemi:600;
$wightBold:700;
$wightEBold:800;
$wightBlack:900;


