@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin transform($translateY) {
  -webkit-transform: $translateY;
  -ms-transform: $translateY;
  transform: $translateY;
}

@mixin centerLeft() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerTop(){
  top: 50%;
  transform: translateY(-50%);
}

@mixin btn_radius($radius) {
  border-radius: $radius;
}
